# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
/build
/src/*.test.js

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/

# Token and credential files
token.pickle
credentials.json
settings.py