{
  "type": "service_account",
  "project_id": "parsing-428822",
  "private_key_id": "d0f161bcdd17556c7a2aac8b7b62ceaa638fd4cb",
  "private_key": "",
  "client_email": "roadsterrm@parsing-428822.iam.gserviceaccount.com",
  "client_id": "113747271655457897802",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/roadsterrm%40parsing-428822.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
